/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-nov-2016, 14:13:22
    Author     : alego
*/

.body-jsf{
    background: lightblue;
    color: royalblue;
}

.form-jsf{
    background: whitesmoke;
}